## Graded Quiz using Teradata (Viewpoint and Scratchpad)
### Queries to Summarize Groups of Data from Multiple Tables
#### Dillards Database (University of Arkansas)
Consists of the following Tables:
- DEPTINFO
- SKSTINFO
- SKSTINFO_FIX
- SKUINFO
- STORE_MSA
- STRINFO
- TRNSACT

In [ ]:
#Question 2
RIGHT JOIN

In [ ]:
#Question 3
SELECT SALEDATE, SUM(AMT) AS TotalPurchases
FROM TRNSACT 
WHERE STYPE = 'p'
GROUP BY SALEDATE
ORDER BY TotalPurchases DESC

In [ ]:
#Question 4
SELECT DI.DEPTDESC, COUNT(SI.SKU) AS NumofSKU
FROM DEPTINFO DI, SKUINFO SI
WHERE DI.DEPT=SI.DEPT
GROUP BY DI.DEPTDESC
ORDER BY NumofSKU DESC;

In [ ]:
#Question 5
SELECT COUNT(DISTINCT SKU)
FROM TRNSACT;

In [ ]:
#Question 6
SELECT ST.SKU, SI.SKU
FROM SKSTINFO AS ST
FULL OUTER JOIN SKUINFO AS SI
ON ST.SKU=SI.SKU
WHERE SI.SKU IS NULL

In [ ]:
#Question 7
SELECT SUM(AMT-(COST*QUANTITY))/COUNT(DISTINCT SALEDATE) AS AVG_SALES
FROM TRNSACT T JOIN SKSTINFO SI
ON T.SKU=SI.SKU AND T.STORE=SI.STORE
WHERE STYPE='P'

In [ ]:
#Question 8
SELECT COUNT(DISTINCT MSA), MIN(MSA_POP), MAX(MSA_INCOME)
FROM STORE_MSA
WHERE STATE='NC'

In [ ]:
#Question 9
SELECT DI.DEPT, DI.DEPTDESC, SI.BRAND, SI.STYLE, SI.COLOR, SUM(SPRICE) AS TotalSales
FROM DEPTINFO DI
INNER JOIN SKUINFO SI
ON DI.DEPT = SI.DEPT
INNER JOIN TRNSACT T
ON SI.SKU = T.SKU
GROUP BY DI.DEPT, DI.DEPTDESC, SI.BRAND, SI.STYLE, SI.COLOR
ORDER BY TotalSales DESC

In [ ]:
#Question 10
SELECT S.STORE AS NumberofStores, COUNT(DISTINCT SI.SKU) AS UniqueSKU
FROM STRINFO S, SKSTINFO SI
WHERE S.STORE=SI.STORE
GROUP BY S.STORE
HAVING UniqueSKU > 180000

In [ ]:
#Question 11
SELECT DISTINCT S.SKU, S.DEPT, S.STYLE, S.COLOR, S.VENDOR, S.BRAND, S.PACKSIZE, D.DEPTDESC, ST.RETAIL, ST.COST
FROM SKUINFO S JOIN DEPTINFO D
ON S.DEPT = D.DEPT JOIN SKSTINFO ST
ON S.SKU = ST.SKU
WHERE D.DEPTDESC='COP' AND S.BRAND='FEDERAL' AND S.COLOR='RINSE WASH'

In [ ]:
#Question 12
SELECT ST.SKU, SI.SKU
FROM SKSTINFO AS ST
FULL OUTER JOIN SKUINFO AS SI
ON ST.SKU=SI.SKU
WHERE ST.SKU IS NULL

In [ ]:
#Question 13
SELECT S.CITY, S.STATE, SUM(T.AMT) AS TotalSales
FROM STRINFO AS S
INNER JOIN TRNSACT AS T
ON S.STORE = T.STORE
GROUP BY S.CITY, S.STATE
ORDER BY TotalSales DESC

In [ ]:
#Question 14
LEFT JOIN

In [ ]:
#Question 15
SELECT STATE, COUNT(STORE) AS NumofStores
FROM STRINFO
GROUP BY STATE
HAVING NumofStores > 10
ORDER BY NumofStores;

In [ ]:
#Question 16
SELECT ST.RETAIL AS Price
FROM SKSTINFO ST, SKUINFO SI
ON ST.SKU=SI.SKU
JOIN DEPTINFO DI
ON DI.DEPT=SI.DEPT
WHERE DI.DEPTDESC='REEBOK' AND SI.BRAND='SKECHERS' AND SI.COLOR='WHT/SAPHIRE'