## Introduction to Data Analytics in Business

## SQL Coding

### Question 1
SELECT COUNT(*)
<br>
FROM PLANES;

### Question 2
SELECT AIRCRAFT_TYPE, TAIL_NUMBER FROM PLANES
<br>
WHERE SEAT_COUNT >= 100
<br>
ORDER BY SEAT_COUNT ASC;

### Question 3
SELECT COUNT(f.FLIGHT_ID) AS NUM_FLIGHTS, p.TAIL_NUMBER 
<br>
FROM FLIGHTS AS f
<br>
INNER JOIN PLANES AS p
<br>
ON f.TAIL_NUMBER = p.TAIL_NUMBER
<br>
GROUP BY p.AIRCRAFT_TYPE, p.TAIL_NUMBER
<br>
ORDER BY NUM_FLIGHTS DESC;

### Question 4
SELECT TAIL_NUMBER, SUM(PASSENGER_COUNT) AS TOT_PASSENGERS 
<br>
FROM FLIGHTS 
<br>
GROUP BY TAIL_NUMBER 
<br>
HAVING TOT_PASSENGERS > 600

### Question 5
SELECT COUNT(FLIGHT_ID) AS NUM_FLIGHTS, AIRPORTS.COUNTRY, FLIGHTS.DEPARTURE_AIRPORT
<br>
FROM FLIGHTS
<br>
INNER JOIN AIRPORTS
<br>
ON AIRPORTS.AIRPORT = FLIGHTS.DEPARTURE_AIRPORT
<br>
GROUP BY AIRPORTS.COUNTRY
<br>
HAVING AIRPORTS.COUNTRY = 'US'

### Question 6
SELECT COUNT(f.FLIGHT_ID) AS NUM_FLIGHTS, cp.REGIONALITY
<br>
FROM FLIGHTS AS f
<br>
INNER JOIN CITY_PAIRS AS cp
<br>
ON cp.DEPARTURE_AIRPORT = f.DEPARTURE_AIRPORT
<br>
AND cp.ARRIVAL_AIRPORT = f.ARRIVAL_AIRPORT
<br>
GROUP BY cp.REGIONALITY
<br>
ORDER BY NUM_FLIGHTS DESC;

### Question 7
SELECT COUNT(*) 
<br>
FROM CITY_PAIRS
<br>
WHERE DEPARTURE_AIRPORT IN ('KLAX', 'KDEN', 'KORD', 'KDET', 'KLGA');

### Question 8
SELECT COUNT(*) 
<br>
FROM AIRPORTS
<br>
WHERE ELEVATION IS NULL;

### Question 9
SELECT MIN(PASSENGER_COUNT) AS LOW_PCOUNT, FLIGHT_NUMBER
<br>
FROM FLIGHTS
<br>
ORDER BY LOW_PCOUNT;

### Question 10
SELECT AVG (cp.DISTANCE) AS AVG_DISTANCE 
<br>
FROM CITY_PAIRS AS cp
<br>
LEFT JOIN FLIGHTS f
<br>
ON cp.DEPARTURE_AIRPORT = f.DEPARTURE_AIRPORT
<br>
AND cp.ARRIVAL_AIRPORT = f.ARRIVAL_AIRPORT
<br>
WHERE FLIGHT_NUMBER LIKE 'SKY%'